@using Blazority

<AuthorizeView>
        <Authorized>
            <div class="dropdown">
                <button class="dropbtn">Community</button>
                <div class="dropdown-content">
                    <a href="/campaigns">Commnuity Campaigns</a>
                    <a href="/monsters">Monsters</a>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="dropdown">
                <button class="dropbtn">Community</button>
                <div class="dropdown-content">
                    <a href="/campaigns">Commnuity Campaigns</a>
                    <a href="/monsters">Monsters</a>
                </div>
            </div>
        </NotAuthorized>
</AuthorizeView>
