<AuthorizeView>
    <Authorized>
        <div class="dropdown">
            <button class="dropbtn">@context.User.Identity.Name</button>
            <div class="dropdown-content">
                <a href="Identity/Account/Manage">Manage</a>
                <a href="Identity/Account/logOut">Logout</a>
            </div>
        </div>

    </Authorized>
    <NotAuthorized>
        <div class="dropdown">
            <button class="dropbtn">Account</button>
            <div class="dropdown-content">
                <a href="Identity/Account/Login">Login</a>
                <a href="Identity/Account/Register">Register</a>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
