@page "/mycampaigns/createcampaign"
@using Blazority
@using System.IO

<%@Register Assembly="CKEditor.NET" Namespace="CKEditor.NET" TagPrefix="CKEditor" %/>

<br />
<Button @onclick="()=>NavigateToMyCampaigns()">My Campaigns</Button>
<Form Model="@textAreaModel">
    <Textarea Label="Campaign Title" @bind-Value="textAreaModel.InputName" style="resize:none;" />
    <br />
    <Syncfusion.Blazor.RichTextEditor.SfRichTextEditor @bind-Value="textAreaModel.InputDescription">
        
    </Syncfusion.Blazor.RichTextEditor.SfRichTextEditor>
    <br />
    <BlazorInputFile.InputFile OnChange="HandleFileSelected" multiple />
    <br />
    <CheckboxContainer>
        <Checkbox Label="Public" @bind-Value="@textAreaModel.IsPublic"></Checkbox>
    </CheckboxContainer>


</Form>

<br />
<Button OnClick="()=>SubmitCampaign()">Create Campaign</Button>
