@page "/mymonsters"
@using Blazority

<body>
    <div style="width:100%;min-height:60px;border-bottom: 2px solid darkred;">
        <div style="float:left;height:40px;width:90%;min-width:600px;">
            <h1 style="font-weight:bold;margin:0 auto">My Monsters</h1>
        </div>
        <div style="width:10%;float:left;">
            <Button>Create Monster</Button>
        </div>
    </div>

    <div style="padding-top:12px;">

    </div>

</body>
