@page "/PrivacyPolicy"
@using Blazority

<body>

    <div style="width:100%;min-height:60px;border-bottom: 2px solid darkred;">
        <div style="float:left;height:40px;width:90%;min-width:600px;">
            <h1 style="font-weight:bold;margin:0 auto">Privacy</h1>
        </div>
    </div>
    <br />
    <div style="width:90%;margin:auto;">
        <h2 style="font-weight:bold">This site uses cookies</h2>
        <p>
            These cookies are only used by DMM to allow us to analyse how many people are visiting the site, what pages they are looking at, and how long they stayed on each page. This information allows us to continually develop and improve the service we can offer you via the webstire and to know that we are meeting our key priority of keeping you informed.
        </p>
        <h2 style="font-weight:bold">GDPR</h2>
        <p>
            You can easily download all the information we have stored about you using <a href="Identity/Account/Manage/PersonalData">this link</a>. (Need to be logged in)
        </P>
    </div>
</body>
