body {
}

.InitiativeWoodTray {
    border: 3px solid black;
    height: 250px;
    width: 500px;
    background-image: url(../images/diceTrayWood.png);
    background-size: 101% 101%;
    background-repeat: no-repeat;
    border-radius: 6px;
    float: left;
    margin-bottom:12px;
}

.InitiativeVelvetTray {
    border: 3px solid black;
    height: 200px;
    margin-left: 6px;
    margin-bottom: 6px;
    background-image: url(../images/diceTrayRed.png);
    background-size: 100% 100%;
    float: left;
    width: 400px;
}