@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager;

<body>
    <div style="width:100%;min-height:60px;border-bottom: 2px solid darkred;">
        <div style="float:left;height:40px;width:90%;min-width:600px;">
            <h1 style="font-weight:bold;margin:0 auto">Home</h1>
        </div>
    </div>

    <br />

    <div class="frontpage">
        <div class="fp-cell fp-cell--1">
            <div class="fp-item">1</div>
        </div>
        <div class="fp-cell fp-cell--2">
            <div class="fp-item">2</div>
        </div>
        <div class="fp-cell fp-cell--3 fp-cell--border-top">
            <div class="fp-item">3</div>
        </div>
        <div class="fp-cell fp-cell--4 fp-cell--border-top">
            <div class="fp-item">4</div>
        </div>
    </div>

    <p>
        @userAuthenticated
    </p>
</body>

@code{
    string userAuthenticated;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            var currentUser = await UserManager.GetUserAsync(user);
            //userAuthenticated = $"{ currentUser.Id} ";
        }
        else
        {
            userAuthenticated = "The user is NOT authenticated.";
        }
    }
}
